# Data files
data/raw/*
data/processed/*
*.csv
*.xlsx
*.zip

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db

*.docx

notebooks/home_credit_analysis.ipynb

*.twb
*.twbx
*.twb*
~*.twb*